* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.topbar {
  background: green;
  height: 40px;
}

.topMenuBar {
  background: red;
  height: 40px;
}

main {
  background: yellow;
  width: 100%;
  height: calc(100% - 40px * 2 );
}

footer {
  background: lightgreen;
  height: 40px;
}

